// Place all the styles related to the Candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#logo {
	color: #1c9fdc;
	font-family: proxima-nova, sans-serif;
  font-size: 2em;
}

#navbar {
  text-align: right;
}


.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
  border-style: dotted;
  border-color: black;
}

table {
	border-collapse: collapse;
  padding: 5px;
  width: 100%;
}

th {
	background-color: #def1ff;
	height: 3em;
}

tr:nth-child(even) {
	background-color: #e6e6e6;
}

label {
  display: block;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.avatar {
	width: 70px;
	height: 80px;
	border-radius: 10px;
  margin: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
