// Place all the styles related to the Candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1 {
	color: #1c9fdc;
	font-family: proxima-nova, sans-serif;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
  margin: 10px;
  display: block;
}

table {
	border-collapse: collapse;
  padding: 5px;
}

th {
	background-color: #def1ff;
	height: 26px;
	padding: 10px;
}

td {
	width: 8%;
}

tr:nth-child(even) {
	background-color: #e6e6e6;
}

.avatar {
	width: 70px;
	height: 80px;
	border-radius: 10px;
}

.list_actions {
	text-align: right;
	padding-left: 1em;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}